html, body {
    height:90%;
}

body {
  background: #fafafa;
}

ul {
  padding-left: 0px;
  height: 100%;
}

.container {
  height: 100%
}

.formButtonfront {
  width: 98.5%;
  margin: 10px;
  padding: 10px;
  height: 25%;
  padding: 0;
  border: none; 
  font-family: 'Roboto', sans-serif;
  font-size: 1.6em;
  font-weight: bold;
}

.background0 {
  background: #4caf50 url('/images/MeGusta.png') no-repeat center right;
  background-size: 10% auto;
}

.background1 {
  background: #FDD835 url('/images/MingFace.png') no-repeat center right;
  background-size: 10% auto;
}

.background2 {
  background: #d32F2f url('/images/rage.png') no-repeat center right;
  background-size: 10% auto;
}



