html, body {
    height:90%;
}

.formButtonfront {
  border:1px solid white;
  border-radius:7%;
  width: 98.5%;
  margin: 10px;
  padding: 10px;
  height: 25%;
 }

 .background0 {
 	background: lightgreen;
 }

 .background1 {
 	background: yellow;
 }

 .background2 {
 	background: red;
 }