html, body {
    height:90%;
}

.formButtonfront {
  border:1px solid white;
  width: 98.5%;
  margin: 10px;
  padding: 10px;
  height: 25%;
 }

 .background0 {
  background: lightgreen url('/images/MeGusta.png') no-repeat top right;
  background-size: 10% 100%;
 }

 .background1 {
  background: yellow url('/images/MingFace.png') no-repeat top right;
  background-size: 10% 100%;
 }

 .background2 {
 	background: red url('/images/rage.png') no-repeat top right;
  background-size: 10% 100%;
 }